openapi: "3.0.3"
info:
  title: "Payvra API"
  version: "1.0.0"
servers:
  - url: "https://v2.payvra.com/api"
externalDocs:
  url: "/api/openapi"
paths:
  "/v1/currencies":
    get:
      operationId: "currencies-getAll"
      summary: "Read all currencies"
      tags:
        - "currencies"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "array"
                items:
                  type: "object"
                  properties:
                    "id":
                      type: "string"
                      maxLength: 255
                    "code":
                      type: "string"
                      maxLength: 255
                    "name":
                      type: "string"
                      maxLength: 255
                    "enabled":
                      type: "boolean"
                    "walletRegex":
                      type: "string"
                      maxLength: 255
                    "priority":
                      type: "integer"
                      minimum: -2147483648
                      maximum: 2147483647
                    "extraIdExists":
                      type: "boolean"
                    "extraIdRegex":
                      type: "string"
                      maxLength: 255
                      nullable: true
                    "usdPrice":
                      type: "string"
                    "minPaymentAmount":
                      type: "string"
                    "minPayoutAmount":
                      type: "string"
                    "minWithdrawalFeeEstimate":
                      type: "string"
                    "logoUrl":
                      type: "string"
                      maxLength: 255
                      nullable: true
                    "track":
                      type: "boolean"
                    "cgId":
                      type: "string"
                      maxLength: 255
                      nullable: true
                    "isMaxlimit":
                      type: "boolean"
                    "network":
                      type: "string"
                      maxLength: 255
                      nullable: true
                    "smartContract":
                      type: "string"
                      maxLength: 255
                      nullable: true
                    "networkPrecision":
                      type: "string"
                      maxLength: 255
                      nullable: true
                    "explorerLinkHash":
                      type: "string"
                      maxLength: 255
                      nullable: true
                    "precision":
                      type: "integer"
                      minimum: -2147483648
                      maximum: 2147483647
                    "ticker":
                      type: "string"
                      maxLength: 255
                      nullable: true
                    "isDefi":
                      type: "boolean"
                    "isPopular":
                      type: "boolean"
                    "isStable":
                      type: "boolean"
                    "availableForToConversion":
                      type: "boolean"
                    "createdAt":
                      type: "string"
                    "updatedAt":
                      type: "string"
                  required:
                    - "id"
                    - "code"
                    - "name"
                    - "enabled"
                    - "walletRegex"
                    - "priority"
                    - "extraIdExists"
                    - "extraIdRegex"
                    - "usdPrice"
                    - "minPaymentAmount"
                    - "minPayoutAmount"
                    - "minWithdrawalFeeEstimate"
                    - "logoUrl"
                    - "track"
                    - "cgId"
                    - "isMaxlimit"
                    - "network"
                    - "smartContract"
                    - "networkPrecision"
                    - "explorerLinkHash"
                    - "precision"
                    - "ticker"
                    - "isDefi"
                    - "isPopular"
                    - "isStable"
                    - "availableForToConversion"
                    - "createdAt"
                    - "updatedAt"
                  additionalProperties: false
        "400":
          description: "Invalid input data"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.BAD_REQUEST"}
        "404":
          description: "Not found"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.NOT_FOUND"}
        "500":
          description: "Internal server error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"}
      x-speakeasy-name-override: "all"
  "/v1/wallets/list":
    post:
      operationId: "wallets-listOwned"
      summary: "Query wallets"
      tags:
        - "wallet"
      security:
        - API Key: []
      requestBody:
        required: false
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "filter":
                  type: "object"
                  properties:
                    "created_start":
                      anyOf:
                        - type: "string"
                        - type: "string"
                      nullable: true
                    "created_end":
                      anyOf:
                        - type: "string"
                        - type: "string"
                      nullable: true
                    "merchants":
                      type: "array"
                      items:
                        type: "string"
                      nullable: true
                    "q":
                      type: "string"
                      nullable: true
                "sort":
                  type: "array"
                  items:
                    type: "string"
                  nullable: true
                "cursor":
                  type: "string"
                "pageSize":
                  type: "number"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "meta":
                    type: "object"
                    properties:
                      "cursor":
                        anyOf:
                          - type: "string"
                          - {}
                      "hasPreviousPage":
                        type: "boolean"
                      "hasNextPage":
                        type: "boolean"
                    required:
                      - "hasPreviousPage"
                      - "hasNextPage"
                    additionalProperties: false
                  "data":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          maxLength: 255
                        "merchantId":
                          type: "string"
                          maxLength: 255
                        "currencyId":
                          type: "string"
                          maxLength: 255
                        "balance":
                          type: "string"
                        "pendingBalance":
                          type: "string"
                        "createdAt":
                          type: "string"
                        "updatedAt":
                          type: "string"
                        "currency":
                          type: "object"
                          properties:
                            "id":
                              type: "string"
                              maxLength: 255
                            "code":
                              type: "string"
                              maxLength: 255
                            "name":
                              type: "string"
                              maxLength: 255
                            "enabled":
                              type: "boolean"
                            "walletRegex":
                              type: "string"
                              maxLength: 255
                            "priority":
                              type: "integer"
                              minimum: -2147483648
                              maximum: 2147483647
                            "extraIdExists":
                              type: "boolean"
                            "extraIdRegex":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "usdPrice":
                              type: "string"
                            "minPaymentAmount":
                              type: "string"
                            "minPayoutAmount":
                              type: "string"
                            "minWithdrawalFeeEstimate":
                              type: "string"
                            "logoUrl":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "track":
                              type: "boolean"
                            "cgId":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "isMaxlimit":
                              type: "boolean"
                            "network":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "smartContract":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "networkPrecision":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "explorerLinkHash":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "precision":
                              type: "integer"
                              minimum: -2147483648
                              maximum: 2147483647
                            "ticker":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "isDefi":
                              type: "boolean"
                            "isPopular":
                              type: "boolean"
                            "isStable":
                              type: "boolean"
                            "availableForToConversion":
                              type: "boolean"
                            "createdAt":
                              type: "string"
                            "updatedAt":
                              type: "string"
                          required:
                            - "id"
                            - "code"
                            - "name"
                            - "enabled"
                            - "walletRegex"
                            - "priority"
                            - "extraIdExists"
                            - "extraIdRegex"
                            - "usdPrice"
                            - "minPaymentAmount"
                            - "minPayoutAmount"
                            - "minWithdrawalFeeEstimate"
                            - "logoUrl"
                            - "track"
                            - "cgId"
                            - "isMaxlimit"
                            - "network"
                            - "smartContract"
                            - "networkPrecision"
                            - "explorerLinkHash"
                            - "precision"
                            - "ticker"
                            - "isDefi"
                            - "isPopular"
                            - "isStable"
                            - "availableForToConversion"
                            - "createdAt"
                            - "updatedAt"
                          additionalProperties: false
                      required:
                        - "id"
                        - "merchantId"
                        - "currencyId"
                        - "balance"
                        - "pendingBalance"
                        - "createdAt"
                        - "updatedAt"
                        - "currency"
                      additionalProperties: false
                required:
                  - "meta"
                  - "data"
                additionalProperties: false
        "400":
          description: "Invalid input data"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.BAD_REQUEST"}
        "401":
          description: "Authorization not provided"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.UNAUTHORIZED"}
        "403":
          description: "Insufficient access"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.FORBIDDEN"}
        "500":
          description: "Internal server error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"}
      x-speakeasy-group: "wallets"
      x-speakeasy-name-override: "list"
  "/v1/wallets/{id}":
    get:
      operationId: "wallets-getById"
      summary: "Retrieve a wallet"
      description: "Retrieve a wallet by its ID for the authenticated merchant"
      tags:
        - "wallet"
      security:
        - API Key: []
      parameters:
        - in: "path"
          name: "id"
          schema:
            type: "string"
          required: true
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "id":
                    type: "string"
                    maxLength: 255
                  "merchantId":
                    type: "string"
                    maxLength: 255
                  "currencyId":
                    type: "string"
                    maxLength: 255
                  "balance":
                    type: "string"
                  "pendingBalance":
                    type: "string"
                  "createdAt":
                    type: "string"
                  "updatedAt":
                    type: "string"
                  "currency":
                    type: "object"
                    properties:
                      "id":
                        type: "string"
                        maxLength: 255
                      "code":
                        type: "string"
                        maxLength: 255
                      "name":
                        type: "string"
                        maxLength: 255
                      "enabled":
                        type: "boolean"
                      "walletRegex":
                        type: "string"
                        maxLength: 255
                      "priority":
                        type: "integer"
                        minimum: -2147483648
                        maximum: 2147483647
                      "extraIdExists":
                        type: "boolean"
                      "extraIdRegex":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "usdPrice":
                        type: "string"
                      "minPaymentAmount":
                        type: "string"
                      "minPayoutAmount":
                        type: "string"
                      "minWithdrawalFeeEstimate":
                        type: "string"
                      "logoUrl":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "track":
                        type: "boolean"
                      "cgId":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "isMaxlimit":
                        type: "boolean"
                      "network":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "smartContract":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "networkPrecision":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "explorerLinkHash":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "precision":
                        type: "integer"
                        minimum: -2147483648
                        maximum: 2147483647
                      "ticker":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "isDefi":
                        type: "boolean"
                      "isPopular":
                        type: "boolean"
                      "isStable":
                        type: "boolean"
                      "availableForToConversion":
                        type: "boolean"
                      "createdAt":
                        type: "string"
                      "updatedAt":
                        type: "string"
                    required:
                      - "id"
                      - "code"
                      - "name"
                      - "enabled"
                      - "walletRegex"
                      - "priority"
                      - "extraIdExists"
                      - "extraIdRegex"
                      - "usdPrice"
                      - "minPaymentAmount"
                      - "minPayoutAmount"
                      - "minWithdrawalFeeEstimate"
                      - "logoUrl"
                      - "track"
                      - "cgId"
                      - "isMaxlimit"
                      - "network"
                      - "smartContract"
                      - "networkPrecision"
                      - "explorerLinkHash"
                      - "precision"
                      - "ticker"
                      - "isDefi"
                      - "isPopular"
                      - "isStable"
                      - "availableForToConversion"
                      - "createdAt"
                      - "updatedAt"
                    additionalProperties: false
                required:
                  - "id"
                  - "merchantId"
                  - "currencyId"
                  - "balance"
                  - "pendingBalance"
                  - "createdAt"
                  - "updatedAt"
                  - "currency"
                additionalProperties: false
        "400":
          description: "Invalid input data"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.BAD_REQUEST"}
        "401":
          description: "Authorization not provided"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.UNAUTHORIZED"}
        "403":
          description: "Insufficient access"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.FORBIDDEN"}
        "404":
          description: "Not found"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.NOT_FOUND"}
        "500":
          description: "Internal server error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"}
      x-speakeasy-group: "wallets"
      x-speakeasy-name-override: "get"
  "/v1/wallets":
    get:
      operationId: "wallets-getAllOwned"
      summary: "Get all wallets"
      description: "Get all wallets for the authenticated merchant."
      tags:
        - "wallet"
      security:
        - API Key: []
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "array"
                items:
                  type: "object"
                  properties:
                    "id":
                      type: "string"
                      maxLength: 255
                    "merchantId":
                      type: "string"
                      maxLength: 255
                    "currencyId":
                      type: "string"
                      maxLength: 255
                    "balance":
                      type: "string"
                    "pendingBalance":
                      type: "string"
                    "createdAt":
                      type: "string"
                    "updatedAt":
                      type: "string"
                    "currency":
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          maxLength: 255
                        "code":
                          type: "string"
                          maxLength: 255
                        "name":
                          type: "string"
                          maxLength: 255
                        "enabled":
                          type: "boolean"
                        "walletRegex":
                          type: "string"
                          maxLength: 255
                        "priority":
                          type: "integer"
                          minimum: -2147483648
                          maximum: 2147483647
                        "extraIdExists":
                          type: "boolean"
                        "extraIdRegex":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "usdPrice":
                          type: "string"
                        "minPaymentAmount":
                          type: "string"
                        "minPayoutAmount":
                          type: "string"
                        "minWithdrawalFeeEstimate":
                          type: "string"
                        "logoUrl":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "track":
                          type: "boolean"
                        "cgId":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "isMaxlimit":
                          type: "boolean"
                        "network":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "smartContract":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "networkPrecision":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "explorerLinkHash":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "precision":
                          type: "integer"
                          minimum: -2147483648
                          maximum: 2147483647
                        "ticker":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "isDefi":
                          type: "boolean"
                        "isPopular":
                          type: "boolean"
                        "isStable":
                          type: "boolean"
                        "availableForToConversion":
                          type: "boolean"
                        "createdAt":
                          type: "string"
                        "updatedAt":
                          type: "string"
                      required:
                        - "id"
                        - "code"
                        - "name"
                        - "enabled"
                        - "walletRegex"
                        - "priority"
                        - "extraIdExists"
                        - "extraIdRegex"
                        - "usdPrice"
                        - "minPaymentAmount"
                        - "minPayoutAmount"
                        - "minWithdrawalFeeEstimate"
                        - "logoUrl"
                        - "track"
                        - "cgId"
                        - "isMaxlimit"
                        - "network"
                        - "smartContract"
                        - "networkPrecision"
                        - "explorerLinkHash"
                        - "precision"
                        - "ticker"
                        - "isDefi"
                        - "isPopular"
                        - "isStable"
                        - "availableForToConversion"
                        - "createdAt"
                        - "updatedAt"
                      additionalProperties: false
                  required:
                    - "id"
                    - "merchantId"
                    - "currencyId"
                    - "balance"
                    - "pendingBalance"
                    - "createdAt"
                    - "updatedAt"
                    - "currency"
                  additionalProperties: false
        "400":
          description: "Invalid input data"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.BAD_REQUEST"}
        "401":
          description: "Authorization not provided"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.UNAUTHORIZED"}
        "403":
          description: "Insufficient access"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.FORBIDDEN"}
        "404":
          description: "Not found"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.NOT_FOUND"}
        "500":
          description: "Internal server error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"}
      x-speakeasy-group: "wallets"
      x-speakeasy-name-override: "listOwned"
  "/v1/wallets/stats":
    get:
      operationId: "wallets-getStats"
      summary: "Get wallet stats"
      description: "Get wallet stats for the authenticated merchant."
      tags:
        - "wallet"
      security:
        - API Key: []
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "total":
                    type: "number"
                  "totalUSDValue":
                    type: "number"
                  "totalAvailableUSDValue":
                    type: "number"
                  "totalPendingUSDValue":
                    type: "number"
                required:
                  - "total"
                  - "totalUSDValue"
                  - "totalAvailableUSDValue"
                  - "totalPendingUSDValue"
                additionalProperties: false
        "401":
          description: "Authorization not provided"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.UNAUTHORIZED"}
        "403":
          description: "Insufficient access"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.FORBIDDEN"}
        "500":
          description: "Internal server error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"}
      x-speakeasy-group: "wallets"
      x-speakeasy-name-override: "stats"
  "/v1/payment-invoices/list":
    post:
      operationId: "paymentInvoices-listOwned"
      summary: "Query payment invoices"
      tags:
        - "payment-invoice"
      security:
        - API Key: []
      requestBody:
        required: false
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "filter":
                  type: "object"
                  properties:
                    "created_start":
                      anyOf:
                        - type: "string"
                        - type: "string"
                      nullable: true
                    "created_end":
                      anyOf:
                        - type: "string"
                        - type: "string"
                      nullable: true
                    "merchants":
                      type: "array"
                      items:
                        type: "string"
                      nullable: true
                    "q":
                      type: "string"
                      nullable: true
                "sort":
                  type: "array"
                  items:
                    type: "string"
                  nullable: true
                "cursor":
                  type: "string"
                "pageSize":
                  type: "number"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "meta":
                    type: "object"
                    properties:
                      "cursor":
                        anyOf:
                          - type: "string"
                          - {}
                      "hasPreviousPage":
                        type: "boolean"
                      "hasNextPage":
                        type: "boolean"
                    required:
                      - "hasPreviousPage"
                      - "hasNextPage"
                    additionalProperties: false
                  "data":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          maxLength: 255
                        "walletId":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "merchantId":
                          type: "string"
                          maxLength: 255
                        "status":
                          type: "string"
                          enum:
                            - "waiting"
                            - "confirming"
                            - "confirmed"
                            - "sending"
                            - "partially_paid"
                            - "finished"
                            - "failed"
                            - "expired"
                        "underPaidCover":
                          type: "string"
                        "feePaidByPayer":
                          type: "boolean"
                        "isWhiteLabel":
                          type: "boolean"
                        "priceAmount":
                          type: "string"
                        "priceCurrency":
                          type: "string"
                          maxLength: 255
                        "payAmount":
                          type: "string"
                          nullable: true
                        "paidAmount":
                          type: "string"
                        "receivedAmount":
                          type: "string"
                        "payAddress":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "payinExtraId":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "payinHash":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "orderId":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "orderDescription":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "callbackUrl":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "returnUrl":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "finishedAt":
                          type: "string"
                          nullable: true
                        "expiredAt":
                          type: "string"
                        "createdAt":
                          type: "string"
                        "updatedAt":
                          type: "string"
                        "payCurrency":
                          type: "object"
                          properties:
                            "id":
                              type: "string"
                              maxLength: 255
                            "code":
                              type: "string"
                              maxLength: 255
                            "name":
                              type: "string"
                              maxLength: 255
                            "enabled":
                              type: "boolean"
                            "walletRegex":
                              type: "string"
                              maxLength: 255
                            "priority":
                              type: "integer"
                              minimum: -2147483648
                              maximum: 2147483647
                            "extraIdExists":
                              type: "boolean"
                            "extraIdRegex":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "usdPrice":
                              type: "string"
                            "minPaymentAmount":
                              type: "string"
                            "minPayoutAmount":
                              type: "string"
                            "minWithdrawalFeeEstimate":
                              type: "string"
                            "logoUrl":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "track":
                              type: "boolean"
                            "cgId":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "isMaxlimit":
                              type: "boolean"
                            "network":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "smartContract":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "networkPrecision":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "explorerLinkHash":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "precision":
                              type: "integer"
                              minimum: -2147483648
                              maximum: 2147483647
                            "ticker":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "isDefi":
                              type: "boolean"
                            "isPopular":
                              type: "boolean"
                            "isStable":
                              type: "boolean"
                            "availableForToConversion":
                              type: "boolean"
                            "createdAt":
                              type: "string"
                            "updatedAt":
                              type: "string"
                          required:
                            - "id"
                            - "code"
                            - "name"
                            - "enabled"
                            - "walletRegex"
                            - "priority"
                            - "extraIdExists"
                            - "extraIdRegex"
                            - "usdPrice"
                            - "minPaymentAmount"
                            - "minPayoutAmount"
                            - "minWithdrawalFeeEstimate"
                            - "logoUrl"
                            - "track"
                            - "cgId"
                            - "isMaxlimit"
                            - "network"
                            - "smartContract"
                            - "networkPrecision"
                            - "explorerLinkHash"
                            - "precision"
                            - "ticker"
                            - "isDefi"
                            - "isPopular"
                            - "isStable"
                            - "availableForToConversion"
                            - "createdAt"
                            - "updatedAt"
                          additionalProperties: false
                          nullable: true
                        "acceptedCoins":
                          type: "array"
                          items:
                            type: "object"
                            properties:
                              "id":
                                type: "string"
                                maxLength: 255
                              "code":
                                type: "string"
                                maxLength: 255
                              "name":
                                type: "string"
                                maxLength: 255
                              "enabled":
                                type: "boolean"
                              "walletRegex":
                                type: "string"
                                maxLength: 255
                              "priority":
                                type: "integer"
                                minimum: -2147483648
                                maximum: 2147483647
                              "extraIdExists":
                                type: "boolean"
                              "extraIdRegex":
                                type: "string"
                                maxLength: 255
                                nullable: true
                              "usdPrice":
                                type: "string"
                              "minPaymentAmount":
                                type: "string"
                              "minPayoutAmount":
                                type: "string"
                              "minWithdrawalFeeEstimate":
                                type: "string"
                              "logoUrl":
                                type: "string"
                                maxLength: 255
                                nullable: true
                              "track":
                                type: "boolean"
                              "cgId":
                                type: "string"
                                maxLength: 255
                                nullable: true
                              "isMaxlimit":
                                type: "boolean"
                              "network":
                                type: "string"
                                maxLength: 255
                                nullable: true
                              "smartContract":
                                type: "string"
                                maxLength: 255
                                nullable: true
                              "networkPrecision":
                                type: "string"
                                maxLength: 255
                                nullable: true
                              "explorerLinkHash":
                                type: "string"
                                maxLength: 255
                                nullable: true
                              "precision":
                                type: "integer"
                                minimum: -2147483648
                                maximum: 2147483647
                              "ticker":
                                type: "string"
                                maxLength: 255
                                nullable: true
                              "isDefi":
                                type: "boolean"
                              "isPopular":
                                type: "boolean"
                              "isStable":
                                type: "boolean"
                              "availableForToConversion":
                                type: "boolean"
                              "createdAt":
                                type: "string"
                              "updatedAt":
                                type: "string"
                            required:
                              - "id"
                              - "code"
                              - "name"
                              - "enabled"
                              - "walletRegex"
                              - "priority"
                              - "extraIdExists"
                              - "extraIdRegex"
                              - "usdPrice"
                              - "minPaymentAmount"
                              - "minPayoutAmount"
                              - "minWithdrawalFeeEstimate"
                              - "logoUrl"
                              - "track"
                              - "cgId"
                              - "isMaxlimit"
                              - "network"
                              - "smartContract"
                              - "networkPrecision"
                              - "explorerLinkHash"
                              - "precision"
                              - "ticker"
                              - "isDefi"
                              - "isPopular"
                              - "isStable"
                              - "availableForToConversion"
                              - "createdAt"
                              - "updatedAt"
                            additionalProperties: false
                      required:
                        - "id"
                        - "walletId"
                        - "merchantId"
                        - "status"
                        - "underPaidCover"
                        - "feePaidByPayer"
                        - "isWhiteLabel"
                        - "priceAmount"
                        - "priceCurrency"
                        - "payAmount"
                        - "paidAmount"
                        - "receivedAmount"
                        - "payAddress"
                        - "payinExtraId"
                        - "payinHash"
                        - "orderId"
                        - "orderDescription"
                        - "callbackUrl"
                        - "returnUrl"
                        - "finishedAt"
                        - "expiredAt"
                        - "createdAt"
                        - "updatedAt"
                        - "payCurrency"
                        - "acceptedCoins"
                      additionalProperties: false
                required:
                  - "meta"
                  - "data"
                additionalProperties: false
        "400":
          description: "Invalid input data"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.BAD_REQUEST"}
        "401":
          description: "Authorization not provided"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.UNAUTHORIZED"}
        "403":
          description: "Insufficient access"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.FORBIDDEN"}
        "500":
          description: "Internal server error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"}
      x-speakeasy-group: "paymentInvoices"
      x-speakeasy-name-override: "list"
  "/v1/payment-invoices/{id}":
    get:
      operationId: "paymentInvoices-getById"
      summary: "Retrieve a payment invoice"
      description: "Retrieve a payment invoice by its ID for the authenticated merchant."
      tags:
        - "payment-invoice"
      security:
        - API Key: []
      parameters:
        - in: "path"
          name: "id"
          schema:
            type: "string"
          required: true
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "id":
                    type: "string"
                    maxLength: 255
                  "walletId":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "merchantId":
                    type: "string"
                    maxLength: 255
                  "status":
                    type: "string"
                    enum:
                      - "waiting"
                      - "confirming"
                      - "confirmed"
                      - "sending"
                      - "partially_paid"
                      - "finished"
                      - "failed"
                      - "expired"
                  "underPaidCover":
                    type: "string"
                  "feePaidByPayer":
                    type: "boolean"
                  "isWhiteLabel":
                    type: "boolean"
                  "priceAmount":
                    type: "string"
                  "priceCurrency":
                    type: "string"
                    maxLength: 255
                  "payAmount":
                    type: "string"
                    nullable: true
                  "paidAmount":
                    type: "string"
                  "receivedAmount":
                    type: "string"
                  "payAddress":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "payinExtraId":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "payinHash":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "orderId":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "orderDescription":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "callbackUrl":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "returnUrl":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "finishedAt":
                    type: "string"
                    nullable: true
                  "expiredAt":
                    type: "string"
                  "createdAt":
                    type: "string"
                  "updatedAt":
                    type: "string"
                  "payCurrency":
                    type: "object"
                    properties:
                      "id":
                        type: "string"
                        maxLength: 255
                      "code":
                        type: "string"
                        maxLength: 255
                      "name":
                        type: "string"
                        maxLength: 255
                      "enabled":
                        type: "boolean"
                      "walletRegex":
                        type: "string"
                        maxLength: 255
                      "priority":
                        type: "integer"
                        minimum: -2147483648
                        maximum: 2147483647
                      "extraIdExists":
                        type: "boolean"
                      "extraIdRegex":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "usdPrice":
                        type: "string"
                      "minPaymentAmount":
                        type: "string"
                      "minPayoutAmount":
                        type: "string"
                      "minWithdrawalFeeEstimate":
                        type: "string"
                      "logoUrl":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "track":
                        type: "boolean"
                      "cgId":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "isMaxlimit":
                        type: "boolean"
                      "network":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "smartContract":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "networkPrecision":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "explorerLinkHash":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "precision":
                        type: "integer"
                        minimum: -2147483648
                        maximum: 2147483647
                      "ticker":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "isDefi":
                        type: "boolean"
                      "isPopular":
                        type: "boolean"
                      "isStable":
                        type: "boolean"
                      "availableForToConversion":
                        type: "boolean"
                      "createdAt":
                        type: "string"
                      "updatedAt":
                        type: "string"
                    required:
                      - "id"
                      - "code"
                      - "name"
                      - "enabled"
                      - "walletRegex"
                      - "priority"
                      - "extraIdExists"
                      - "extraIdRegex"
                      - "usdPrice"
                      - "minPaymentAmount"
                      - "minPayoutAmount"
                      - "minWithdrawalFeeEstimate"
                      - "logoUrl"
                      - "track"
                      - "cgId"
                      - "isMaxlimit"
                      - "network"
                      - "smartContract"
                      - "networkPrecision"
                      - "explorerLinkHash"
                      - "precision"
                      - "ticker"
                      - "isDefi"
                      - "isPopular"
                      - "isStable"
                      - "availableForToConversion"
                      - "createdAt"
                      - "updatedAt"
                    additionalProperties: false
                    nullable: true
                  "acceptedCoins":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          maxLength: 255
                        "code":
                          type: "string"
                          maxLength: 255
                        "name":
                          type: "string"
                          maxLength: 255
                        "enabled":
                          type: "boolean"
                        "walletRegex":
                          type: "string"
                          maxLength: 255
                        "priority":
                          type: "integer"
                          minimum: -2147483648
                          maximum: 2147483647
                        "extraIdExists":
                          type: "boolean"
                        "extraIdRegex":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "usdPrice":
                          type: "string"
                        "minPaymentAmount":
                          type: "string"
                        "minPayoutAmount":
                          type: "string"
                        "minWithdrawalFeeEstimate":
                          type: "string"
                        "logoUrl":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "track":
                          type: "boolean"
                        "cgId":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "isMaxlimit":
                          type: "boolean"
                        "network":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "smartContract":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "networkPrecision":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "explorerLinkHash":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "precision":
                          type: "integer"
                          minimum: -2147483648
                          maximum: 2147483647
                        "ticker":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "isDefi":
                          type: "boolean"
                        "isPopular":
                          type: "boolean"
                        "isStable":
                          type: "boolean"
                        "availableForToConversion":
                          type: "boolean"
                        "createdAt":
                          type: "string"
                        "updatedAt":
                          type: "string"
                      required:
                        - "id"
                        - "code"
                        - "name"
                        - "enabled"
                        - "walletRegex"
                        - "priority"
                        - "extraIdExists"
                        - "extraIdRegex"
                        - "usdPrice"
                        - "minPaymentAmount"
                        - "minPayoutAmount"
                        - "minWithdrawalFeeEstimate"
                        - "logoUrl"
                        - "track"
                        - "cgId"
                        - "isMaxlimit"
                        - "network"
                        - "smartContract"
                        - "networkPrecision"
                        - "explorerLinkHash"
                        - "precision"
                        - "ticker"
                        - "isDefi"
                        - "isPopular"
                        - "isStable"
                        - "availableForToConversion"
                        - "createdAt"
                        - "updatedAt"
                      additionalProperties: false
                required:
                  - "id"
                  - "walletId"
                  - "merchantId"
                  - "status"
                  - "underPaidCover"
                  - "feePaidByPayer"
                  - "isWhiteLabel"
                  - "priceAmount"
                  - "priceCurrency"
                  - "payAmount"
                  - "paidAmount"
                  - "receivedAmount"
                  - "payAddress"
                  - "payinExtraId"
                  - "payinHash"
                  - "orderId"
                  - "orderDescription"
                  - "callbackUrl"
                  - "returnUrl"
                  - "finishedAt"
                  - "expiredAt"
                  - "createdAt"
                  - "updatedAt"
                  - "payCurrency"
                  - "acceptedCoins"
                additionalProperties: false
        "400":
          description: "Invalid input data"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.BAD_REQUEST"}
        "401":
          description: "Authorization not provided"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.UNAUTHORIZED"}
        "403":
          description: "Insufficient access"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.FORBIDDEN"}
        "404":
          description: "Not found"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.NOT_FOUND"}
        "500":
          description: "Internal server error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"}
      x-speakeasy-group: "paymentInvoices"
      x-speakeasy-name-override: "get"
  "/v1/payment-invoices/stats":
    get:
      operationId: "paymentInvoices-getStats"
      summary: "Get payment invoice stats"
      description: "Get payment invoice stats for the authenticated merchant."
      tags:
        - "payment-invoice"
      security:
        - API Key: []
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "total":
                    type: "number"
                  "totalUSDVolume":
                    type: "number"
                  "totalFinished":
                    type: "number"
                required:
                  - "total"
                  - "totalUSDVolume"
                  - "totalFinished"
                additionalProperties: false
        "401":
          description: "Authorization not provided"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.UNAUTHORIZED"}
        "403":
          description: "Insufficient access"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.FORBIDDEN"}
        "500":
          description: "Internal server error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"}
      x-speakeasy-group: "paymentInvoices"
      x-speakeasy-name-override: "stats"
  "/v1/payment-invoices":
    post:
      operationId: "paymentInvoices-create"
      summary: "Create a payment invoice"
      tags:
        - "payment-invoice"
      security:
        - API Key: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "feePaidByPayer":
                  type: "boolean"
                "callbackUrl":
                  type: "string"
                  maxLength: 255
                  format: "uri"
                  nullable: true
                "amount":
                  type: "number"
                  exclusiveMinimum: false
                "amountCurrency":
                  default: "USD"
                  type: "string"
                "underPaidCover":
                  type: "number"
                  minimum: 0
                  maximum: 50
                  multipleOf: 0.1
                "lifeTime":
                  default: 10080
                  type: "number"
                  minimum: 15
                  maximum: 10080
                "acceptedCoins":
                  type: "array"
                  items:
                    type: "string"
                "returnUrl":
                  type: "string"
                  format: "uri"
                  nullable: true
              required:
                - "amount"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "id":
                    type: "string"
                    maxLength: 255
                  "walletId":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "merchantId":
                    type: "string"
                    maxLength: 255
                  "status":
                    type: "string"
                    enum:
                      - "waiting"
                      - "confirming"
                      - "confirmed"
                      - "sending"
                      - "partially_paid"
                      - "finished"
                      - "failed"
                      - "expired"
                  "underPaidCover":
                    type: "string"
                  "feePaidByPayer":
                    type: "boolean"
                  "isWhiteLabel":
                    type: "boolean"
                  "priceAmount":
                    type: "string"
                  "priceCurrency":
                    type: "string"
                    maxLength: 255
                  "payAmount":
                    type: "string"
                    nullable: true
                  "paidAmount":
                    type: "string"
                  "receivedAmount":
                    type: "string"
                  "payAddress":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "payinExtraId":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "payinHash":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "orderId":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "orderDescription":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "callbackUrl":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "returnUrl":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "finishedAt":
                    type: "string"
                    nullable: true
                  "expiredAt":
                    type: "string"
                  "createdAt":
                    type: "string"
                  "updatedAt":
                    type: "string"
                  "payCurrency":
                    type: "object"
                    properties:
                      "id":
                        type: "string"
                        maxLength: 255
                      "code":
                        type: "string"
                        maxLength: 255
                      "name":
                        type: "string"
                        maxLength: 255
                      "enabled":
                        type: "boolean"
                      "walletRegex":
                        type: "string"
                        maxLength: 255
                      "priority":
                        type: "integer"
                        minimum: -2147483648
                        maximum: 2147483647
                      "extraIdExists":
                        type: "boolean"
                      "extraIdRegex":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "usdPrice":
                        type: "string"
                      "minPaymentAmount":
                        type: "string"
                      "minPayoutAmount":
                        type: "string"
                      "minWithdrawalFeeEstimate":
                        type: "string"
                      "logoUrl":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "track":
                        type: "boolean"
                      "cgId":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "isMaxlimit":
                        type: "boolean"
                      "network":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "smartContract":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "networkPrecision":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "explorerLinkHash":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "precision":
                        type: "integer"
                        minimum: -2147483648
                        maximum: 2147483647
                      "ticker":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "isDefi":
                        type: "boolean"
                      "isPopular":
                        type: "boolean"
                      "isStable":
                        type: "boolean"
                      "availableForToConversion":
                        type: "boolean"
                      "createdAt":
                        type: "string"
                      "updatedAt":
                        type: "string"
                    required:
                      - "id"
                      - "code"
                      - "name"
                      - "enabled"
                      - "walletRegex"
                      - "priority"
                      - "extraIdExists"
                      - "extraIdRegex"
                      - "usdPrice"
                      - "minPaymentAmount"
                      - "minPayoutAmount"
                      - "minWithdrawalFeeEstimate"
                      - "logoUrl"
                      - "track"
                      - "cgId"
                      - "isMaxlimit"
                      - "network"
                      - "smartContract"
                      - "networkPrecision"
                      - "explorerLinkHash"
                      - "precision"
                      - "ticker"
                      - "isDefi"
                      - "isPopular"
                      - "isStable"
                      - "availableForToConversion"
                      - "createdAt"
                      - "updatedAt"
                    additionalProperties: false
                    nullable: true
                  "acceptedCoins":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          maxLength: 255
                        "code":
                          type: "string"
                          maxLength: 255
                        "name":
                          type: "string"
                          maxLength: 255
                        "enabled":
                          type: "boolean"
                        "walletRegex":
                          type: "string"
                          maxLength: 255
                        "priority":
                          type: "integer"
                          minimum: -2147483648
                          maximum: 2147483647
                        "extraIdExists":
                          type: "boolean"
                        "extraIdRegex":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "usdPrice":
                          type: "string"
                        "minPaymentAmount":
                          type: "string"
                        "minPayoutAmount":
                          type: "string"
                        "minWithdrawalFeeEstimate":
                          type: "string"
                        "logoUrl":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "track":
                          type: "boolean"
                        "cgId":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "isMaxlimit":
                          type: "boolean"
                        "network":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "smartContract":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "networkPrecision":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "explorerLinkHash":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "precision":
                          type: "integer"
                          minimum: -2147483648
                          maximum: 2147483647
                        "ticker":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "isDefi":
                          type: "boolean"
                        "isPopular":
                          type: "boolean"
                        "isStable":
                          type: "boolean"
                        "availableForToConversion":
                          type: "boolean"
                        "createdAt":
                          type: "string"
                        "updatedAt":
                          type: "string"
                      required:
                        - "id"
                        - "code"
                        - "name"
                        - "enabled"
                        - "walletRegex"
                        - "priority"
                        - "extraIdExists"
                        - "extraIdRegex"
                        - "usdPrice"
                        - "minPaymentAmount"
                        - "minPayoutAmount"
                        - "minWithdrawalFeeEstimate"
                        - "logoUrl"
                        - "track"
                        - "cgId"
                        - "isMaxlimit"
                        - "network"
                        - "smartContract"
                        - "networkPrecision"
                        - "explorerLinkHash"
                        - "precision"
                        - "ticker"
                        - "isDefi"
                        - "isPopular"
                        - "isStable"
                        - "availableForToConversion"
                        - "createdAt"
                        - "updatedAt"
                      additionalProperties: false
                required:
                  - "id"
                  - "walletId"
                  - "merchantId"
                  - "status"
                  - "underPaidCover"
                  - "feePaidByPayer"
                  - "isWhiteLabel"
                  - "priceAmount"
                  - "priceCurrency"
                  - "payAmount"
                  - "paidAmount"
                  - "receivedAmount"
                  - "payAddress"
                  - "payinExtraId"
                  - "payinHash"
                  - "orderId"
                  - "orderDescription"
                  - "callbackUrl"
                  - "returnUrl"
                  - "finishedAt"
                  - "expiredAt"
                  - "createdAt"
                  - "updatedAt"
                  - "payCurrency"
                  - "acceptedCoins"
                additionalProperties: false
        "400":
          description: "Invalid input data"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.BAD_REQUEST"}
        "401":
          description: "Authorization not provided"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.UNAUTHORIZED"}
        "403":
          description: "Insufficient access"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.FORBIDDEN"}
        "500":
          description: "Internal server error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"}
      x-speakeasy-group: "paymentInvoices"
      x-speakeasy-name-override: "create"
  "/v1/payment-invoices/white-label":
    post:
      operationId: "paymentInvoices-createWhiteLabel"
      summary: "Create a white label payment invoice"
      tags:
        - "payment-invoice"
      security:
        - API Key: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "feePaidByPayer":
                  type: "boolean"
                "callbackUrl":
                  type: "string"
                  maxLength: 255
                  format: "uri"
                  nullable: true
                "amount":
                  type: "number"
                  exclusiveMinimum: false
                "amountCurrency":
                  default: "USD"
                  type: "string"
                "underPaidCover":
                  type: "number"
                  minimum: 0
                  maximum: 50
                  multipleOf: 0.1
                "lifeTime":
                  default: 10080
                  type: "number"
                  minimum: 15
                  maximum: 10080
                "payAddress":
                  type: "string"
                  nullable: true
                "payinExtraId":
                  type: "string"
                  nullable: true
                "payCurrency":
                  type: "string"
              required:
                - "amount"
                - "payAddress"
                - "payinExtraId"
                - "payCurrency"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "id":
                    type: "string"
                    maxLength: 255
                  "walletId":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "merchantId":
                    type: "string"
                    maxLength: 255
                  "status":
                    type: "string"
                    enum:
                      - "waiting"
                      - "confirming"
                      - "confirmed"
                      - "sending"
                      - "partially_paid"
                      - "finished"
                      - "failed"
                      - "expired"
                  "underPaidCover":
                    type: "string"
                  "feePaidByPayer":
                    type: "boolean"
                  "isWhiteLabel":
                    type: "boolean"
                  "priceAmount":
                    type: "string"
                  "priceCurrency":
                    type: "string"
                    maxLength: 255
                  "payAmount":
                    type: "string"
                    nullable: true
                  "paidAmount":
                    type: "string"
                  "receivedAmount":
                    type: "string"
                  "payAddress":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "payinExtraId":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "payinHash":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "orderId":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "orderDescription":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "callbackUrl":
                    type: "string"
                    maxLength: 255
                    nullable: true
                  "finishedAt":
                    type: "string"
                    nullable: true
                  "expiredAt":
                    type: "string"
                  "createdAt":
                    type: "string"
                  "updatedAt":
                    type: "string"
                  "payCurrency":
                    type: "object"
                    properties:
                      "id":
                        type: "string"
                        maxLength: 255
                      "code":
                        type: "string"
                        maxLength: 255
                      "name":
                        type: "string"
                        maxLength: 255
                      "enabled":
                        type: "boolean"
                      "walletRegex":
                        type: "string"
                        maxLength: 255
                      "priority":
                        type: "integer"
                        minimum: -2147483648
                        maximum: 2147483647
                      "extraIdExists":
                        type: "boolean"
                      "extraIdRegex":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "usdPrice":
                        type: "string"
                      "minPaymentAmount":
                        type: "string"
                      "minPayoutAmount":
                        type: "string"
                      "minWithdrawalFeeEstimate":
                        type: "string"
                      "logoUrl":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "track":
                        type: "boolean"
                      "cgId":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "isMaxlimit":
                        type: "boolean"
                      "network":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "smartContract":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "networkPrecision":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "explorerLinkHash":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "precision":
                        type: "integer"
                        minimum: -2147483648
                        maximum: 2147483647
                      "ticker":
                        type: "string"
                        maxLength: 255
                        nullable: true
                      "isDefi":
                        type: "boolean"
                      "isPopular":
                        type: "boolean"
                      "isStable":
                        type: "boolean"
                      "availableForToConversion":
                        type: "boolean"
                      "createdAt":
                        type: "string"
                      "updatedAt":
                        type: "string"
                    required:
                      - "id"
                      - "code"
                      - "name"
                      - "enabled"
                      - "walletRegex"
                      - "priority"
                      - "extraIdExists"
                      - "extraIdRegex"
                      - "usdPrice"
                      - "minPaymentAmount"
                      - "minPayoutAmount"
                      - "minWithdrawalFeeEstimate"
                      - "logoUrl"
                      - "track"
                      - "cgId"
                      - "isMaxlimit"
                      - "network"
                      - "smartContract"
                      - "networkPrecision"
                      - "explorerLinkHash"
                      - "precision"
                      - "ticker"
                      - "isDefi"
                      - "isPopular"
                      - "isStable"
                      - "availableForToConversion"
                      - "createdAt"
                      - "updatedAt"
                    additionalProperties: false
                    nullable: true
                  "acceptedCoins":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          maxLength: 255
                        "code":
                          type: "string"
                          maxLength: 255
                        "name":
                          type: "string"
                          maxLength: 255
                        "enabled":
                          type: "boolean"
                        "walletRegex":
                          type: "string"
                          maxLength: 255
                        "priority":
                          type: "integer"
                          minimum: -2147483648
                          maximum: 2147483647
                        "extraIdExists":
                          type: "boolean"
                        "extraIdRegex":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "usdPrice":
                          type: "string"
                        "minPaymentAmount":
                          type: "string"
                        "minPayoutAmount":
                          type: "string"
                        "minWithdrawalFeeEstimate":
                          type: "string"
                        "logoUrl":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "track":
                          type: "boolean"
                        "cgId":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "isMaxlimit":
                          type: "boolean"
                        "network":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "smartContract":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "networkPrecision":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "explorerLinkHash":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "precision":
                          type: "integer"
                          minimum: -2147483648
                          maximum: 2147483647
                        "ticker":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "isDefi":
                          type: "boolean"
                        "isPopular":
                          type: "boolean"
                        "isStable":
                          type: "boolean"
                        "availableForToConversion":
                          type: "boolean"
                        "createdAt":
                          type: "string"
                        "updatedAt":
                          type: "string"
                      required:
                        - "id"
                        - "code"
                        - "name"
                        - "enabled"
                        - "walletRegex"
                        - "priority"
                        - "extraIdExists"
                        - "extraIdRegex"
                        - "usdPrice"
                        - "minPaymentAmount"
                        - "minPayoutAmount"
                        - "minWithdrawalFeeEstimate"
                        - "logoUrl"
                        - "track"
                        - "cgId"
                        - "isMaxlimit"
                        - "network"
                        - "smartContract"
                        - "networkPrecision"
                        - "explorerLinkHash"
                        - "precision"
                        - "ticker"
                        - "isDefi"
                        - "isPopular"
                        - "isStable"
                        - "availableForToConversion"
                        - "createdAt"
                        - "updatedAt"
                      additionalProperties: false
                required:
                  - "id"
                  - "walletId"
                  - "merchantId"
                  - "status"
                  - "underPaidCover"
                  - "feePaidByPayer"
                  - "isWhiteLabel"
                  - "priceAmount"
                  - "priceCurrency"
                  - "payAmount"
                  - "paidAmount"
                  - "receivedAmount"
                  - "payAddress"
                  - "payinExtraId"
                  - "payinHash"
                  - "orderId"
                  - "orderDescription"
                  - "callbackUrl"
                  - "finishedAt"
                  - "expiredAt"
                  - "createdAt"
                  - "updatedAt"
                  - "payCurrency"
                  - "acceptedCoins"
                additionalProperties: false
        "400":
          description: "Invalid input data"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.BAD_REQUEST"}
        "401":
          description: "Authorization not provided"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.UNAUTHORIZED"}
        "403":
          description: "Insufficient access"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.FORBIDDEN"}
        "500":
          description: "Internal server error"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"}
      x-speakeasy-group: "paymentInvoices"
      x-speakeasy-name-override: "createWhiteLabel"
  "/v1/payouts/list":
    post:
      operationId: "payouts-listOwned"
      summary: "Query payouts"
      description: "Query payouts for the authenticated merchant."
      tags:
        - "payout"
      security:
        - API Key: []
      requestBody:
        required: false
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "filter":
                  type: "object"
                  properties:
                    "created_start":
                      anyOf:
                        - type: "string"
                        - type: "string"
                      nullable: true
                    "created_end":
                      anyOf:
                        - type: "string"
                        - type: "string"
                      nullable: true
                    "merchants":
                      type: "array"
                      items:
                        type: "string"
                      nullable: true
                    "q":
                      type: "string"
                      nullable: true
                "sort":
                  type: "array"
                  items:
                    type: "string"
                  nullable: true
                "cursor":
                  type: "string"
                "pageSize":
                  type: "number"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "meta":
                    type: "object"
                    properties:
                      "cursor":
                        anyOf:
                          - type: "string"
                          - {}
                      "hasPreviousPage":
                        type: "boolean"
                      "hasNextPage":
                        type: "boolean"
                    required:
                      - "hasPreviousPage"
                      - "hasNextPage"
                    additionalProperties: false
                  "data":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          maxLength: 255
                        "walletId":
                          type: "string"
                          maxLength: 255
                        "merchantId":
                          type: "string"
                          maxLength: 255
                        "currencyId":
                          type: "string"
                          maxLength: 255
                        "status":
                          type: "string"
                          enum:
                            - "creating"
                            - "waiting"
                            - "processing"
                            - "sending"
                            - "finished"
                            - "failed"
                            - "rejected"
                        "amount":
                          type: "string"
                        "address":
                          type: "string"
                          maxLength: 255
                        "extraId":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "txHash":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "fee":
                          type: "string"
                          nullable: true
                        "callbackUrl":
                          type: "string"
                          maxLength: 255
                          nullable: true
                        "createdAt":
                          type: "string"
                        "updatedAt":
                          type: "string"
                        "currency":
                          type: "object"
                          properties:
                            "id":
                              type: "string"
                              maxLength: 255
                            "code":
                              type: "string"
                              maxLength: 255
                            "name":
                              type: "string"
                              maxLength: 255
                            "enabled":
                              type: "boolean"
                            "walletRegex":
                              type: "string"
                              maxLength: 255
                            "priority":
                              type: "integer"
                              minimum: -2147483648
                              maximum: 2147483647
                            "extraIdExists":
                              type: "boolean"
                            "extraIdRegex":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "usdPrice":
                              type: "string"
                            "minPaymentAmount":
                              type: "string"
                            "minPayoutAmount":
                              type: "string"
                            "minWithdrawalFeeEstimate":
                              type: "string"
                            "logoUrl":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "track":
                              type: "boolean"
                            "cgId":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "isMaxlimit":
                              type: "boolean"
                            "network":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "smartContract":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "networkPrecision":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "explorerLinkHash":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "precision":
                              type: "integer"
                              minimum: -2147483648
                              maximum: 2147483647
                            "ticker":
                              type: "string"
                              maxLength: 255
                              nullable: true
                            "isDefi":
                              type: "boolean"
                            "isPopular":
                              type: "boolean"
                            "isStable":
[...]
